{% extends "layout.html" %}
{% block title %} - Componente 3: Conectividad{% endblock %}
{% block body %}
<div class="inner">
    <h1>Componente 3: Conectividad</h1>
    <p>Este componente busca la extensión del uso de banda ancha y mejora de su calidad y precio. El monto
        previsto es de US$ 47.9 millones.</p>
    <p>La distribución del presupuesto en los distintos productos se detalla a continuación, posteriormente
        incluimos la descripción e indicadores de cada uno:</p>
    <section class="budget_dist">
        <div class="table-wrapper">
            <img src="/assets/images/distribucion_conectividad.png" />
        </div>
    </section>
    <br />
    <section>
        <h2>Productos, indicadores y resultados esperados</h2>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Componente</th>
                        <th>Unidad de medida</th>
                        <th>Línea de base</th>
                        <th>Año 1</th>
                        <th>Año 2</th>
                        <th>Año 3</th>
                        <th>Año 4</th>
                        <th>Año 5</th>
                        <th>Año 6</th>
                        <th>Total</th>
                        <th>Medios de verificación</th>
                        <th>Comentarios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Producto 18:</b> Sitios y edificios públicos conectados</td>
                        <td>Cantidad de sitios</td>
                        <td>-</td>
                        <td>-</td>
                        <td>70</td>
                        <td>93</td>
                        <td>121</td>
                        <td>104</td>
                        <td>2</td>
                        <td>641</td>
                        <td>IPP</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Producto 19:</b> Data Center operando</td>
                        <td>Cantidad de Data Centers</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>1</td>
                        <td>1</td>
                        <td>IPP</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Producto 20:</b> Derechos de uso para conectividad internacional, adquiridos
                        </td>
                        <td>Cantidad de gigabytes por segundo</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>100</td>
                        <td>-</td>
                        <td>-</td>
                        <td>100</td>
                        <td>Reportes de certificación de servicios</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <p>
            <a href="/" class="button icon fa-home">Volver al inicio</a>
            <a href="/propuestas" class="button icon fa-bullhorn">Ir a propuestas</a>
        </p>
    </section>

</div>
{% endblock %}