{% extends "layout.html" %}
{% block body %}
<div class="inner">
    <h1>Componente 4: Fortalecimiento Institucional</h1>
    <p>Este componente pretende fortalecer el marco institucional y la capacidad gubernamental para el desarrollo de la Agenda Digital. El monto previsto es de US$ 13.4 millones.</p>
    <p>La distribución del presupuesto en los distintos productos se detalla a continuación, posteriormente incluimos la descripción e indicadores de cada uno:</p>
    <section class="budget_dist">
        <div class="table-wrapper">
            <img src="/assets/images/distribucion_fortalecimiento.png"/>
        </div>
    </section>
    <br/>
    <section>
        <h2>Productos, indicadores y resultados esperados</h2>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Componente</th>
                        <th>Unidad de medida</th>
                        <th>Línea de base</th>
                        <th>Año 1</th>
                        <th>Año 2</th>
                        <th>Año 3</th>
                        <th>Año 4</th>
                        <th>Año 5</th>
                        <th>Año 6</th>
                        <th>Total</th>
                        <th>Medios de verificación</th>
                        <th>Comentarios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Producto 21:</b> Nuevo Modelo de Gestión Institucional, diseñado e implementado</td>
                        <td>Cantidad de sistemas</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>1</td>
                        <td>1</td>
                        <td>Informe de Progreso del Programa</td>
                        <td>Este producto deberá ser desarrollado cumpliendo con el Modelo Estándar de Control Interno del Paraguay (MECIP).</td>
                    </tr>
                    <tr>
                        <td><b>Producto 22:</b> Modelos de costeo, esquemas de operación y herramientas de medidas de calidad de servicios corporativos, desarrollados</td>
                        <td>Cantidad de consultorías</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>2</td>
                        <td>1</td>
                        <td>-</td>
                        <td>3</td>
                        <td>Informes Finales de la Consultoría aprobados</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Producto 23:</b> Sistema Informático Integrado de Gestión, implementado</td>
                        <td>Cantidad de sistemas</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>1</td>
                        <td>1</td>
                        <td>Reportes de operación emitidos desde el Sistema</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Producto 24:</b> Capacidad técnica y operativa de la SENATICS incrementada</td>
                        <td># Personal Incremental / Año</td>
                        <td>-</td>
                        <td>25</td>
                        <td>45</td>
                        <td>65</td>
                        <td>55</td>
                        <td>35</td>
                        <td>15</td>
                        <td>240</td>
                        <td>Contratos firmados - Informes de Gestión</td>
                        <td>Se prevé financiar 80 profesionales durante 36 meses en 4 grupos: Grupo 1 en el año 1 #25; Grupo 2 en el año 2 #20; Grupo 3 en el año 3 #20; Grupo 4 en el año 4 #15.</td>
                    </tr>
                    <tr>
                        <td><b>Producto 25:</b> Personal de las instituciones claves del ecosistema público en TIC, capacitado</td>
                        <td># de Personas</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>50</td>
                        <td>80</td>
                        <td>80</td>
                        <td>40</td>
                        <td>250</td>
                        <td>Informe de ejecución de capacitaciones - Listado de asistencias</td>
                        <td>Se prevé el desarrollo de un Diplomado en TIC.</td>
                    </tr>
                    <tr>
                        <td><b>Producto 26:</b> Actividades de sensibilización dirigidas a ciudadanos para el uso de los trámites digitalizados, realizadas</td>
                        <td># de Actividades</td>
                        <td>-</td>
                        <td>-</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>25</td>
                        <td>Reportes de implementación de las Actividades de Sensibilización</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
    <p>
        <a href="/" class="button icon fa-home">Volver al inicio</a>
        <a href="/propuestas" class="button icon fa-bullhorn">Ir a propuestas</a>
    </p>
    </section>

</div>
{% endblock %}