<!doctype html>
<head>
	<title>#AgendaDigital Paraguay</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/extra.css" />
	<link rel="icon" type="image/png" href="assets/images/logo.png"/>
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<title>AgendaDigitalPy</title>

<div class=page>
  <h1>AgendaDigitalPy</h1>
  
  {% block body %}{% endblock %}
</div>
