{% extends "layout.html" %}
{% block title %} - Propuestas{% endblock %}
{% block body %}
<div class="inner">
    {% if success is defined %}
    <p class="flash-success">
        <b>¡Gracias por tu aporte, será publicado en breve!</b>
        <br/>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Acabo de compartir mi propuesta para la #AgendaDigital en" data-url="https://www.agendadigital.com.py/propuestas" data-related="@agendadigitalpy" data-lang="es" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    {% else %}
    <p class="flash-success"><b>Ha ocurrido un error</b></p>
    {% endif %}

    <header>
        <h1>Creá tu propuesta<br /></h1>
        <p>También podes incluir consultas puntuales sobre los distintos componentes del programa. En el caso de que necesites adjuntar más información, es posible agregar enlaces.</p>
        <p>Haremos lo posible para consultar a las autoridades y mantenerte al tanto.</p>
        <p>Tu dirección de correo no se publicará y se almacenará con el propósito de seguimiento.</p>
    </header>

    <section>
        <form method="post" action="/propuestas">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="name" value="" placeholder="Nombre" required>
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="email" name="email" value="" placeholder="Correo Electrónico" required>
                </div>
                <div class="col-12">
                    <label for="category">Seleccioná un componente</label>
                    <select name="category">
                        <option value="0">General / Sin componente específico</option>
                        <option value="1">1 - Gobierno Digital</option>
                        <option value="2">2 - Economía Digital</option>
                        <option value="3">3 - Conectividad</option>
                        <option value="4">4 - Fortalecimiento Institucional</option>
                    </select>
                </div>
                <div class="col-12">
                    <input type="text" name="title" value="" placeholder="Título de tu propuesta, ejemplo: Sugerencia para el producto 15" required>
                </div>
                <div class="col-12">
                    <div class="textarea-wrapper">
                        <textarea name="content" placeholder="Escribí aquí tu propuesta" rows="3" style="overflow: hidden; resize: none; height: 79px;" required></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li>
                            <input type="submit" value="Enviar" class="primary">
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </section>

    <section>
        <h3>Últimas propuestas recibidas</h3>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Componente</th>
                        <th>Título</th>
                        <th>Contenido</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for p in proposals %}
                    <tr>
                        <td>{{ p._id | proposal_date }}</td>
                        <td>{{ p.category | category_name }}</td>
                        <td>{{ p.title | truncate(50) }}</td>
                        <td> {{ p.content | truncate(50) }} </td>
                        <td><a href="/propuestas/{{ p._id }} ">Ver</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section>
        <p><a href="/" class="button icon fa-home">Volver al inicio</a></p>
    </section>
</div>
{% endblock %}
