{% extends "layout.html" %}
{% block title %} - Solicitudes{% endblock %}
{% block body %}
<div class="inner">
    <header>
        <h3>Solicitudes de información pública enviadas a MITIC</h3>
    </header>
    <section>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Asunto</th>
                        <th>Respondida</th>
                        <th>Enlace</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a target="_blank" href="">Ver</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <p><a href="/" class="button icon fa-home">Volver al inicio</a></p>
    </section>
</div>
{% endblock %}