    {% extends "layout.html" %}
    {% block title %}FAQ{% endblock %}
    {% block body %}
    <div class="inner">
        <section class="documentacion">
            <header><h1>Documentaciones</h1></header>
            <ul>
                <li><a href="https://medium.com/@matiasbaruch/qu%C3%A9-es-la-agendadigital-y-c%C3%B3mo-nos-impacta-cc6d3a739572">¿Qué es la Agenda Digital y como nos impacta? </a>. Primer articulo, el cual inicio el movimiento</li>
                <li><a href="https://forms.gle/BssGPcXjdXsixLu87">Formulario para sugerencias y opiniones</a></li>
                <li><a href="http://www.gacetaoficial.gov.py/index/getDocumento/59211">Ley promulgada</a></li>
                <li><a href="https://informacionpublica.paraguay.gov.py/portal/#!/ciudadano, /solicitud/20826">Proyecto Agenda Digital tal como fue presentado al Congreso (SNIP)</a></li>
                <li><a href="https://drive.google.com/file/d/1-ENkRdEwXLWcBbz5w0-JFYCILgBEhTKQ/view?usp=sharing">Matriz de planificación presupuestaria</a></li>
                <li><a href="https://docs.google.com/spreadsheets/d/1i9-SuZ58gPXRMcARYfL1SPMR_2yDtB5Kybb-ZjgZybg/edit#gid=0">Linea de tiempo de la Agenda Digital</a></li>  
            </ul>
        </section>
        <section class="faq">
            <header>
                <h1>Preguntas Frecuentes</h1>
            </header>
                <h2>¿Qué es la Agenda Digital?
                </h2>
                    <p>El Congreso de Paraguay <a href="https://www.ip.gov.py/ip/congreso-sanciona-credito-del-bid-para-proyecto-de-agenda-digital/">aprobó el 16 de Abril de 2019</a> un préstamo de 130 millones de dólares para un proyecto de 6 años (2019 a 2025) llamado “Agenda Digital” y <a href="https://www.mitic.gov.py/agenda-digital/">ejecutado por el MITIC</a> con el objetivo de mejorar la competitividad de la economía paraguaya, la calidad de los servicios públicos mediante la implementación de tecnologías de la información y mejorar la red de fibra aumentando el acceso a más ancho de banda de Internet.</p>

                <h2>¿Cuál es el origen de los fondos?
                </h2>
                    <p>El <a href="https://informacionpublica.paraguay.gov.py/public/2612148-CONTRATOSUSCRITO6DIC18pdf-CONTRATOSUSCRITO6DIC18.pdf">préstamo</a> fue otorgado por el BID (Banco Interamericano de Desarrollo uno de los mayores acreedores de la deuda externa paraguaya. Este organismo desarrolló el <a href="https://www.iadb.org/es/project/PR-L1153">proyecto PR-L1153 “Programa de Apoyo a la Agenda Digital”</a> en conjunto con autoridades locales.</p>
                <h2>¿Por qué transparentar la Agenda Digital?
                </h2>
            <p> Hasta ahora --8 de Julio de 2019--, <strong>aún no tenemos documentación técnica respaldatoria</strong> para los 26 productos de la Agenda Digital.</p> 

            <p>Implementar este proyecto sin documentación técnica <strong>es como construir un edificio sin planos. A ciegas</strong></p> 
                            
            <p>Como ciudadanos, <strong>no podemos permitir</strong> que se invierta más dinero público <strong>sin control, sin impacto, sin evaluaciones</strong> previas apropiadas, como tantas veces ha ocurrido en el pasado.</p> 
                            
            <p>Recordemos <strong>el fracaso del proyecto Metrobús</strong>, otro préstamo también del BID. <a href="http://www.abc.com.py/edicion-impresa/economia/paraguay-debera-devolver-us-50-millones-por-metrobus-que-no-existe-1771794.html">Unos $50 millones de dólares deberán ser pagados al BID</a>, a pesar de haber sido un total fracaso que generó grandes pérdidas para los frentistas y un caos vehicular presente hasta hoy.</p>
                            
            <p>Ese fracaso fue fácil de ver y entender. Sin embargo, la <strong>#AgendaDigital</strong> podría no ser tan visible por tratarse de proyecto muy técnico, difícil de entender para la ciudadanía en general. Queremos evitar que las irregularidades pasen desapercibidas desde antes de ser consumadas.</p>
                            
            <p>Nuestro primer paso ha sido <strong>solicitar el acceso a todos los documentos relacionados al proyecto</strong>, algo que <a href="https://www.hoy.com.py/nacionales/viceministro-cuestiona-animo-de-quienes-piden-informacion-publica-y-oculta-destino-de-us-130-millones">no siempre tuvo una respuesta positiva</a>. La forma oficial de hacerlo es a través de solicitudes de información pública, <a href="https://www.agendadigital.com.py/solicitudes">aquí se encuentran</a> las que hemos realizado.</p> 
                            
            <p>Las primeras respuestas del MITIC decían que todos los documentos ya habían sido publicados en <a href="https://www.mitic.gov.py/agenda-digital/documentos">su página web</a>. Sin embargo, todos eran meros insumos (pocos informes, encuestas, presentaciones, etc) y no documentos de planificación que expliquen claramente cada uno de los 26 productos del proyecto. Posteriormente, el MITIC argumentó que todo lo que no han publicado aún es porque <a href="https://twitter.com/NahumDam/status/1133382577623117824/photo/1">el BID no se los proveyó</a>.</p>
            
            <h2>¿En qué consiste la Agenda Digital?
            </h2>
            <p>La #AgendaDigital consiste de <strong>26 productos</strong> agrupados en <strong>4 componentes</strong>:</p>
            <ol>
                <li>GOBIERNO DIGITAL: Digitalización de procesos y mejora de la entrega de servicios prestados por el sector público.
                </li>
                <li>ECONOMIA DIGITAL: Mejora de la inversión en tecnología mediante el apoyo a jóvenes emprendedores y empresas.</li>
                <li>CONECTIVIDAD: Extensión del uso de banda ancha y mejora de su calidad y precio.</li>
                <li>FORTALECIMIENTO INSTITUCIONAL: Fortalecimiento del marco institucional y la capacidad gubernamental para el desarrollo de la agenda digital.</li>
            </ol>
            
            <p>La información oficial de la página del MITIC al respecto aún es bastante incompleta, es por eso que tenemos una sección de Documentación donde vamos cargando lo que encontramos en diferentes fuentes.</p>

            <p>El documento más detallado y actualizado sobre el proyecto es la Matriz de Planificación Presupuestaria  presentada al Ministerio de Hacienda el 28 de Junio de 2019.</p>
            
            <h2>¿Quiénes somos?
            </h2>
            <p>No somos una ONG, ni un gremio, ni pertenecemos a un partido político. Somos ciudadanos independientes, unidos por una preocupación por el buen uso del dinero público en este proyecto. No tenemos <em>“representantes”</em> oficiales.</p> 

            <p>Cada ciudadano emite su opinión a título personal, ya sea en privado o en público a través de redes sociales y medios de prensa.</p> 

            <p>Como punto de encuentro utilizamos <a href="https://t.me/agendadigitalpy">un grupo de Telegram</a> totalmente abierto, nos reunimos en persona con cierta frecuencia y compilamos información en este <a href="https://github.com/agendadigitalpy">sitio web open source</a> creado y mantenido por la comunidad.</p>
            
            <h2>¿Cuáles son nuestros objetivos concretos?
            </h2>
            <ul>
                <li>Obtener <strong>documentación detallada</strong> que sustente <strong>cada uno de los 26 productos</strong> de la Agenda Digital.</li>
                <li><strong>Auditar</strong> el proyecto y denunciar irregularidades.
                </li>
                <li>Que el MITIC establezca <strong>un mecanismo de gobernanza participativa y vinculante</strong> para todo el proyecto, para permitir la participación a todo ciudadano, sin exigencias de personería jurídica de tipo organizacional alguna.</li>
                <li>Son muchas las voces en la comunidad que consideran que el proyecto <strong>no debería recibir desembolso</strong> alguno antes que se cumplan estos objetivos.</li>
            </ul>
            
            <blockquote>Actualización Julio, 2019: luego de 2 reuniones con el MITIC con mediación de la Unidad de Gestión de la Presidencia, presentamos nuestro plan de participación ciudadana a través de MESAS ABIERTAS a ser desarrolladas por un espacio de 6 meses. Aguardamos aprobación del MITIC y estamos en conversaciones con Gobierno Abierto para contar con su apoyo.</blockquote>
        </section>
        <section class="encontramos">
            <header><h1>¿Qué hemos encontrado?</h1></header>
            <ul>
                <li>Hasta ahora 9 de julio de 2019, <!--no se como poner update date----> <strong>no hay documentación técnica</strong> que respalde el proyecto. Esto lo confirma <a href="http://bit.ly/EncuestaAgendaDigital">una encuesta con más de 300 personas de la comunidad</a> que estudiaron la documentación. Sólo hay presupuestos e insumos (encuestas, reportes, etc). Avanzar en estas condiciones sería como construir un edificio sin contar con planos.</li>
                <li>Agenda Digital Incluía un proyecto de <strong>$400 mil dólares</strong> con la Agencia Espacial del Paraguay. Al ser consultada, <a href="https://twitter.com/mb_ins/status/1136208363753226246">la Agencia desconocia por completo el proyecto</a>. Luego de esta denuncia, MITIC lo eliminó de Agenda Digital.</li>
                <li>Se tenia pensado dotar <a href="https://twitter.com/mb_ins/status/1135541858459901953">a la organización OMAPA con U$ 720.000 para organizar olimpiadas</a> e identificar jóvenes con "talento digital." Sin embargo, OMAPA desconocía el proyecto cuando MITIC fue consultado al respecto via información pública, respondió que era <em>"solo un ejemplo"</em> y posteriormente lo eliminó del proyecto.</li>
                <li>El MITIC utilizó para el proyecto <a href="https://twitter.com/mb_ins/status/1146194121444470784">cuentas de correo bajo un dominio ajeno al gobierno (mcyt.com.py)</a>, alojando documentos confidenciales del país en servidores de Google, en vez de usar las cuentas de correo y servidores del Gobierno Nacional como corresponde.</li>
                <li>El presidente Mario Abdo <a href="https://twitter.com/NahumDam/status/1145696886411681797">dijo en su primer informe de gestión que la Agenda Digital conectaría a escuelas a internet</a>, algo totalmente <strong>FALSO</strong> según el presupuesto, varios documentos del MITIC, y varias entrevistas del viceministro Miguel Martin.</li>
                <li>Están presupuestados <a href="https://twitter.com/NahumDam/status/1147238267420626944">casi medio millón de dólares en alquileres de oficinas y coworking spaces privados</a> en vez de usar el local propio del MITIC recientemente inaugurada</li>
            </ul>
        
        </section>
        <section class="aclaraciones">
            <header><h1>Aclaraciones</h1></header>
            <h2>¿Es verdad que se gastarán US$ 45 millones solamente en consultorías?</h2>
            <p>No exactamente. Fue una clasificación de rubros confusa que generó mucha repercusión en los medios, pero ya está aclarada.Dentro del rubro de “consultorías”, ya aclaró MITIC que incluyeron a bienes concretos, como por ejemplo, software a ser desarrollado.</p>

            <p>Por lo tanto, si bien es cierto que existen US$ 45 millones para el rubro de “consultorías”, no estamos hablando solamente de informes a ser entregados en papel sino también de productos concretos.</p>

            <p>Aclarado esto, la <em>"confusión"</em> del significado de los rubros de parte de Hacienda es un problema que también debe corregirse de tal forma a que podamos saber real y efectivamente qué es qué en el presupuesto de este y cualquier otro proyecto.</p>
            
            <h2>¿Es verdad que la Agencia Oniria cobró US$ 450 mil?
            </h2>
            
            <p> Es falso que esta agencia cobró US$ 450 mil, algo que esta comunidad nunca dijo pues nadie tenía tal información. Solo sabíamos que estaba contratada dentro de un proyecto financiado con fondos propios del BID -<em>no por el crédito para el Paraguay</em>- cuyo total era por ese monto de US$ 450 mil, sin tener claro cuánto de ese monto correspondía al contrato con Oniria.</p> 

            <p><a href="https://twitter.com/OniriaTBWA/status/1136113106311098369">Oniria</a> aclaró que fueron $14.296,00.
            </p>
        </section>
        <section class="mas">
        <p>
            <a href="/" class="button icon fa-home">Volver al inicio</a>
            <a href="/propuestas" class="button icon fa-bullhorn">Ir a propuestas</a>
        </p>
    </section>
    </div>
{% endblock %}
