{% extends "layout.html" %}
{% block title %} - Componente 1: Gobierno Digital{% endblock %}
{% block body %}
<div class="inner">
    <h1>Componente 1: Gobierno Digital</h1>
    <p>Este componente busca la digitalización de procesos y mejora de la entrega de servicios prestados por el sector público. El monto previsto es de US$ 32.6 millones.</p>
    <p>La distribución del presupuesto en los distintos productos se detalla a continuación, posteriormente incluimos la descripción e indicadores de cada uno:</p>
    <section class="budget_dist">
        <div class="table-wrapper">
            <img src="assets/images/distribucion_gobierno_digital.png"/>
        </div>
    </section>
    <br/>
    <section>
        <h2>Productos, indicadores y resultados esperados</h2>
        <div class="table-wrapper">
            <table>
                <thead>
			<tr>
				<td >Productos</td>
				<td >Unidad de Medida</td>
				<td >Línea de Base</td>
				<td >Año LB</td>
				<td >Año 1 <br>2019*</td>
				<td >Año 2<br>2020</td>
				<td >Año 3<br>2021</td>
				<td >Año 4<br>2022</td>
				<td >Año 5<br>2023</td>
				<td >Año 6<br>2024</td>
				<td >Año 7<br>2025**</td>
				<td >Meta Final</td>
				<td >Medios de Verificación</td>
				<td >Comentarios</td>
			</tr>
                </thead>
                <tbody>
        <tr>
		<td colspan="14"><b>Componente 1.</b> Digitalización de procesos y mejora de la entrega de servicios prestados por el sector público</td>
        </tr>
        <tr>
		<td><b>Producto 1:</b> Propuestas de normativas en gobierno digital y sectores estratégicos, elaboradas</td>
                <td># Análisis jurídico y/o propuestas normativas</td>
                <td>0</td>
                <td>2018</td>
                <td>2</td>
                <td>5</td>
                <td>3</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><br></td>
                <td>10</td>
                <td> - Documentos análisis jurídico y propuesta de las normativas</td>
                <td>Incluye normas sobre protección de datos personales, telecomunicaciones, comercio electrónico, gobierno digital, innovación y ciberseguridad.</td>
        </tr>
        <tr>
		<td><b>Producto 2:</b> Servicios simplificados y digitalizados</td>
                <td># de trámites en línea</td>
                <td>0</td>
                <td>2018</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><br></td>
                <td>0</td>
                <td>Reportes anuales indicando la lista de trámites simplificados y, para cada uno, cuáles fueron las simplificaciones o los pasos o registros digitalizados</td>
                <td><br></td>
        </tr>
        <tr>
                <td>Hito 1:Trámites simples o lineales implementado</td>
                <td># trámites</td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td>55</td>
                <td><br></td>
                <td><br></td>
        </tr>
        <tr>
                <td>Hito 2: Trámites semi-complejos implementado</td>
                <td># trámites</td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td>45</td>
                <td><br></td>
                <td><br></td>
        </tr>
        <tr>
                <td>Hito 3: Trámites complejos implementado</td>
                <td># trámites</td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td>20</td>
                <td><br></td>
                <td><br></td>
        </tr>
        <tr>
		<td><b>Producto 3:</b> Sistema de Información de Salud (HIS), implementado</td>
                <td># de establecimientos con HIS implementado</td>
                <td>0</td>
                <td>2018</td>
                <td>-</td>
                <td>14</td>
                <td>200</td>
                <td>250</td>
                <td>-</td>
                <td>-</td>
                <td><br></td>
                <td>464</td>
                <td>Reporte anual de grado de avance</td>
                <td><br></td>
        </tr>
        <tr>
		<td><b>Producto 4:</b> Servicios brindados por el Sistema Catastral, implementados</td>
                <td>% de avance de acciones planificadas</td>
                <td>0</td>
                <td>2018</td>
                <td>-</td>
                <td>20</td>
                <td>45</td>
                <td>25</td>
                <td>10</td>
                <td>-</td>
                <td><br></td>
                <td>100</td>
                <td>Reporte anual de grado de avance</td>
                <td><br></td>
        </tr>
        <tr>
                <td>Modelo de atención multicanal implementado</td>
                <td># Modelos</td>
                <td>0</td>
                <td>2018</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><br></td>
                <td>1</td>
                <td><br></td>
                <td><br></td>
        </tr>
        <tr>
                <td>Plataforma de hardware y software de base modernizada</td>
                <td># plataforma</td>
                <td>0</td>
                <td>2018</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><br></td>
                <td>1</td>
                <td><br></td>
                <td><br></td>
        </tr>
        <tr>
                <td>Nuevas sedes regionales equipadas</td>
                <td># sedes regionales</td>
                <td>3</td>
                <td>2018</td>
                <td>0</td>
                <td>0</td>
                <td>2</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><br></td>
                <td>5</td>
                <td><br></td>
                <td><br></td>
        </tr>
        <tr>
                <td>Archivos digitalizados y nuevo sistema de gestión catastral implementado</td>
                <td>% de avance de implementación</td>
                <td>0</td>
                <td>2018</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>50</td>
                <td>50</td>
                <td>0</td>
                <td><br></td>
                <td>100</td>
                <td><br></td>
                <td><br></td>
        </tr>
        <tr>
		<td><b>Producto 5:</b> Sistemas de gobierno digital, desarrollados e implementados</td>
                <td># de sistemas de gobierno electrónico</td>
                <td>0</td>
                <td>2018</td>
                <td>-</td>
                <td>-</td>
                <td>2</td>
                <td>3</td>
                <td>3</td>
                <td>2</td>
                <td><br></td>
                <td>10</td>
                <td>Reporte final de cada aplicación transversal implementada</td>
                <td>Incluye autenticación de identidad digital, firma digital, expediente electrónico, notificación electrónica, geoportal, plataforma para gestión de municipios, portal de trámites, actualización de elementos de la plataforma de interoperabilidad y pasarela de pagos en línea.</td>
        </tr>
        <tr>
		<td><b>Producto 6:</b> Laboratorio de innovación gubernamental para apoyar el desarrollo de proyectos específicos de gobierno digital, implementado</td>
                <td># Proyectos</td>
                <td>0</td>
                <td>2018</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><br></td>
                <td>0</td>
                <td>Informes finales de cada proyecto</td>
                <td>Si bien se abrirán concursos hay dos proyectos ya priorizados dentro de este producto: el registro único de beneficiarios de programas sociales y el registro único de productores rurales.&nbsp;</td>
        </tr>
        <tr>
                <td>Hito 1: Proyectos de innovación abierta de servicios públicos, elaborados?</td>
                <td>#Proyectos</td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td>10</td>
                <td><br></td>
                <td><br></td>
        </tr>
        <tr>
                <td>Hito 2: Laboratorio de innovación gubernamental implementado (etapa 1)?</td>
                <td>#Laboratorios</td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td>1</td>
                <td><br></td>
                <td><br></td>
        </tr>
       <tr>
                <td>Hito 3: Laboratorio de innovación gubernamental implementado (etapa 2)?</td>
                <td>#Laboratorios</td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td><br></td>
                <td>1</td>
                <td><br></td>
                <td><br></td>
        </tr>
        <tr>
		<td><b>Producto 7:</b> Modelo de atención multicanal, implementado</td>
                <td>#Modelo</td>
                <td>0</td>
                <td>2018</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>1</td>
                <td><br></td>
                <td>1</td>
                <td>Informe de Progreso del Programa</td>
                <td><br></td>
        </tr>
        <tr>
		<td><b>Producto 8:</b> Sistema Nacional de Ciberseguridad, fortalecido</td>
                <td>% de avance del sistema</td>
                <td>0</td>
                <td>2018</td>
                <td>-</td>
                <td>10</td>
                <td>10</td>
                <td>50</td>
                <td>20</td>
                <td>10</td>
                <td><br></td>
                <td>100</td>
                <td>Informes finales de: 1) propuestas de mejora regulatoria, 2) SOC implementado y CERT fortalecido, 3) infraestructuras críticas, y 4) fortalecimiento técnico.</td>
                <td>Incluye: revisión de marco regulatorio, protección de infraestructuras críticas, respuesta a incidentes (CERT), monitoreo y análisis (SOC) y fortalecimiento de capacidades técnicas.</td>
        </tr>

                </tbody>
                <!--
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td>100.00</td>
                    </tr>
                </tfoot>
            -->
            </table>
        </div>
    </section>
    <section>
    <p>
        <a href="/" class="button icon fa-home">Volver al inicio</a>
        <a href="/propuestas" class="button icon fa-bullhorn">Ir a propuestas</a>
    </p>
    </section>

</div>
{% endblock %}
