{% extends "layout.html" %}
{% block title %} - Componente 1: Gobierno Digital{% endblock %}
{% block body %}
<div class="inner">
    <h1>Componente 1: Gobierno Digital</h1>
    <p>Este componente busca la digitalización de procesos y mejora de la entrega de servicios prestados por el sector público. El monto previsto es de US$ 32.6 millones.</p>
    <p>La distribución del presupuesto en los distintos productos se detalla a continuación, posteriormente incluimos la descripción e indicadores de cada uno:</p>
    <section class="budget_dist">
        <div class="table-wrapper">
            <img src="assets/images/distribucion_gobierno_digital.png"/>
        </div>
    </section>
    <br/>
    <section>
        <h2>Productos, indicadores y resultados esperados</h2>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Componente</th>
                        <th>Unidad de medida</th>
                        <th>Línea de base</th>
                        <th>Año 1</th>
                        <th>Año 2</th>
                        <th>Año 3</th>
                        <th>Año 4</th>
                        <th>Año 5</th>
                        <th>Año 6</th>
                        <th>Total</th>
                        <th>Medios de verificación</th>
                        <th>Comentarios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Producto 1:</b> Propuestas de normativas en gobierno digital y sectores
                            estratégicos, elaboradas</td>
                        <td>Cantidad de normativas</td>
                        <td>-</td>
                        <td>-</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                        <td>2</td>
                        <td>-</td>
                        <td>10</td>
                        <td>Documentos propuesta de las normativas</td>
                        <td>Incluye normas sobre protección de datos personales, telecomunicaciones,
                            comercio electrónico, gobierno digital, innovación y ciberseguridad.</td>
                    </tr>
                    <tr>
                        <td><b>Producto 2:</b> Servicios simplificados y digitalizados</td>
                        <td>Cantidad de servicios</td>
                        <td>-</td>
                        <td>-</td>
                        <td>10</td>
                        <td>20</td>
                        <td>40</td>
                        <td>40</td>
                        <td>10</td>
                        <td>120</td>
                        <td>Reportes anuales indicando la lista de trámites simplificados, y para cada uno,
                            cuáles fueron las simplificaciones o los pasos o registros digitalizados</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Producto 3:</b> Sistema de Información de Salud (HIS), digitalizado</td>
                        <td>% del HIS implementado</td>
                        <td>25</td>
                        <td>-</td>
                        <td>10</td>
                        <td>20</td>
                        <td>25</td>
                        <td>10</td>
                        <td>10</td>
                        <td>100</td>
                        <td>Reporte anual de grado de avance</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Producto 4:</b> Plan de Mejora de los servicios brindados por el Servicio Nacional
                            de Catastro, implementado</td>
                        <td>% de avance de mejoras planificadas</td>
                        <td>-</td>
                        <td>-</td>
                        <td>20</td>
                        <td>45</td>
                        <td>25</td>
                        <td>10</td>
                        <td>-</td>
                        <td>100</td>
                        <td>Reporte anual de grado de avance</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Producto 5:</b> Aplicaciones transversales de gobierno digital, desarrolladas e
                            implementadas</td>
                        <td>Cantidad de Aplicaciones</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                        <td>2</td>
                        <td>10</td>
                        <td>Reporte final de cada aplicación transversal implementada</td>
                        <td>Incluye autenticación de identidad digital, firma digital, expediente
                            electrónico, notificación electrónica, geoportal, plataforma para gestión de
                            municipios, portal de trámites, actualización de elementos de la plataforma de
                            interoperabilidad y pasarela de pagos en línea.</td>
                    </tr>
                    <tr>
                        <td><b>Producto 6:</b> Laboratorio de innovación gubernamental para apoyar el desarrollo de
                            proyectos específicos de gobierno digital, implementado</td>
                        <td>Cantidad de Proyectos</td>
                        <td>-</td>
                        <td>-</td>
                        <td>2</td>
                        <td>4</td>
                        <td>7</td>
                        <td>5</td>
                        <td>2</td>
                        <td>20</td>
                        <td>Informes finales de cada proyecto</td>
                        <td>Si bien se abrirán concursos, hay dos proyectos ya priorizados dentro de este
                            producto: el registro único de beneficiarios de programas sociales y el registro
                            único de productores rurales.</td>
                    </tr>
                    <tr>
                        <td><b>Producto 7:</b> Modelo de atención multicanal, implementado</td>
                        <td># modelo</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>1</td>
                        <td>Informe de Progreso del Programa (IPP)</td>
                        <td></td>
                    </tr>
                    <tr>
                            <td><b>Producto 8:</b> Sistema Nacional de Ciberseguridad, fortalecido</td>
                            <td>% de avance del sistema</td>
                            <td>0</td>
                            <td>-</td>
                            <td>10</td>
                            <td>10</td>
                            <td>50</td>
                            <td>20</td>
                            <td>10</td>
                            <td>100</td>
                            <td>Informes finales de: (i) propuestas de mejora regulatoria, (ii) SOC implementado y CERT fortalecido, (iii) infraestructuras críticas, y (iv) fortalecimiento técnico.</td>
                            <td>Incluye: revisión de marco regulatorio, protección de infraestructuras críticas, respuesta a incidentes (CERT), monitoreo y análisis (SOC) y fortalecimiento de capacidades técnicas.</td>
                        </tr>

                </tbody>
                <!--
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td>100.00</td>
                    </tr>
                </tfoot>
            -->
            </table>
        </div>
    </section>
    <section>
    <p>
        <a href="/" class="button icon fa-home">Volver al inicio</a>
        <a href="/propuestas" class="button icon fa-bullhorn">Ir a propuestas</a>
    </p>
    </section>

</div>
{% endblock %}