{% extends "layout.html" %}
{% block title %} - Componente 1: Gobierno Digital{% endblock %}
{% block body %}
<div class="inner">
    <h1>Resultados Esperados</h1>
    <h2>Objetivo General</h2>
    <p>
	Promover la mejora de la competitividad de la economía paraguaya y 
	la reducción de costos transaccionales para ciudadanos y empresas 
	en el acceso a bienes y servicios. 
    </p>	
    <h2>Objetivos específicos</h2>
    <p>
    	<ul>
		<li>
			1. disminuir los costos transaccionales del acceso a servicios públicos para ciudadanos y empresas; 
		</li>
		<li>
			2. aumentar el uso de Tecnologías de la Información y Comunicación (TICS) e incentivar la innovación y articulación empresarial; 
		</li>
		<li>
			3. aumentar el acceso a Banda Ancha (BA) mediante la extensión de la conectividad y una mejora en la calidad del servicio; y 
		</li>
		<li>
			4. fortalecer el marco institucional y la capacidad operativa gubernamental para favorecer el desarrollo de la Agenda Digital.
		</li>
	</ul>
    </p>
    <section>
        <h2>Impacto Esperado</h2>
	<p>
		Se prevé un solo impacto. En la Mejora de la competitividad y de la calidad de los servicios públicos
	</p>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Indicador</th>
                        <th>Unidad</th>
                        <th>Línea de base</th>
                        <th>Año Línea de base</th>
                        <th>Año 1 2019</th>
                        <th>Año 2 2020</th>
                        <th>Año 3 2021</th>
                        <th>Año 4 2022</th>
                        <th>Año 5 2023</th>
                        <th>Año 6 2024</th>
                        <th>Año 7 2025</th>
                        <th>Meta Final</th>
                        <th>Medios de verificación</th>
                        <th>Comentarios</th>
                    </tr>
                </thead>
                <tbody>
			<tr>
				<td>Nivel satisfacción ciudadano con los trámites</td>
				<td>Escala 1 a 10</td>
				<td>4,6</td>
				<td>2015</td>
				<td><br></td>
				<td><br></td>
				<td>5,3</td>
				<td><br></td>
				<td><br></td>
				<td>6</td>
				<td><br></td>
				<td>6</td>
				<td>Reportes de resultado de encuestas publicados.</td>
				<td>Se harán sólo dos mediciones: en el año 3 y al final.</td>
			</tr>
			<tr>
				<td>Ciudadanos que realizan trámites en línea</td>
				<td>Porcentaje</td>
				<td>2,15</font></u></td>
				<td>2017</td>
				<td><br></td>
				<td><br></td>
				<td>5</td>
				<td><br></td>
				<td><br></td>
				<td>15</td>
				<td><br></td>
				<td>15</td>
				<td>Reportes de resultado de encuestas publicados.</td>
				<td>Se harán sólo dos mediciones: en el año 3 y al final.</td>
			</tr>
			<tr>
				<td>Indicador Global de Competitividad (World Economic Forum)</td>
				<td>Puntos</td>
				<td>3,73</td>
				<td>2017</td>
				<td><br></td>
				<td><br></td>
				<td>3,75</td>
				<td><br></td>
				<td><br></td>
				<td>3,8</td>
				<td><br></td>
				<td>3,8</td>
				<td>Reporte del WEF</td>
				<td><br></td>
			</tr>
                </tbody>
                <!--
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td>100.00</td>
                    </tr>
                </tfoot>
            -->
            </table>
        </div>
    </section>
    <section>
	<h2>Resultados Esperados</h2>
	<p>
		Se espera tener los siguientes resultados
	</p>
	<div class="table-wrapper">
		<table>
                <thead>
                    <tr>
                        <th>Indicador</th>
                        <th>Unidad</th>
                        <th>Línea de base</th>
                        <th>Año Línea de base</th>
                        <th>Año 1 2019</th>
                        <th>Año 2 2020</th>
                        <th>Año 3 2021</th>
                        <th>Año 4 2022</th>
                        <th>Año 5 2023</th>
                        <th>Año 6 2024</th>
                        <th>Año 7 2025</th>
                        <th>Meta Final</th>
                        <th>Medios de verificación</th>
                        <th>Comentarios</th>
                    </tr>
                </thead>
                <tbody>
		    <tr>
                <td colspan="14" >Resultado 1: Disminución de los costos transaccionales de servicios públicos para ciudadanos y empresas</td>
                </tr>
       <tr>
                <td>Costo promedio de renovar la cédula de identidad</td>
                <td>USD</td>
                <td>94</td>
                <td>2017</td>
                <td><br></td>
                <td><br></td>
                <td>82</td>
                <td><br></td>
                <td><br></td>
                <td>70</td>
                <td><br></td>
                <td>70</td>
                <td>Informe de Medición realizada con la misma metodología aplicada en 2018</td>
		<td>-<br></td>
        </tr>
        <tr>
                <td>Costo promedio de abrir una empresa</td>
                <td>USD</td>
                <td>3.600</td>
                <td>2017</td>
                <td><br></td>
                <td><br></td>
                <td>3000</td>
                <td><br></td>
                <td><br></td>
                <td>2700</td>
                <td><br></td>
                <td>2700</td>
                <td>Informe de medición realizada con la misma metodología aplicada en 2018.</td>
		<td>-<br></td>
        </tr>
       <tr>
                <td colspan=14>Resultado 2: Mayor uso de TIC por parte de las empresas</td>
                </tr>
        <tr>
                <td>Empresas que invierten en TIC</td>
                <td>Porcentaje</td>
                <td>10</td>
                <td>2013</td>
                <td><br></td>
                <td><br></td>
                <td>10,5</td>
                <td><br></td>
                <td><br></td>
                <td>11</td>
                <td><br></td>
                <td>11</td>
                <td>Encuesta Nacional de Innovación Empresarial de Paraguay</td>
                <td><br></td>
        </tr>
       <tr>
                <td colspan=14>Resultado 3: Aumento del número de usuarios conectados a servicios de BA de mayor calidad</td>
                </tr>
        <tr>
                <td>Costo por MBPS</td>
                <td>USD/Mbps</td>
                <td>20</td>
                <td>2016</td>
                <td><br></td>
                <td><br></td>
                <td>7,24</td>
                <td><br></td>
                <td><br></td>
                <td>4,18</td>
                <td><br></td>
                <td>4,18</td>
                <td>Índice de Desarrollo de la Banda Ancha (BID)</td>
                <td><br></td>
        </tr>
        <tr>
                <td>Cantidad de líneas de BA fija por cada 100 habitantes</td>
                <td>Líneas de BA/100 habitantes %</td>
                <td>3,35 %</td>
                <td>2016</td>
                <td><br></td>
		<td><br></td>
                <td>5,37%</td>
                <td><br></td>
                <td><br></td>
                <td>5,8%</td>
                <td><br></td>
                <td>5,8%</td>
                <td>Índice de Desarrollo de la Banda Ancha (BID)</td>
                <td><br></td>
        </tr>
        <tr>
                <td colspan=14>Resultado 4: Fortalecimiento de las instituciones clave para el desarrollo digital</td>
                </tr>
        <tr>
                <td>Cumplimiento de SENATICs del Artículo 12 de la Ley 4989/13[8]</td>
                <td>Porcentaje</td>
                <td>36</td>
                <td>2018</td>
                <td><br></td>
                <td><br></td>
                <td>50</td>
                <td><br></td>
                <td><br></td>
                <td>73</td>
                <td><br></td>
                <td>73</td>
                <td>Informe de cumplimiento de metas institucionales preparado por SENATICs auditado</td>
                <td>Actualmente la SENATICS cumple adecuadamente con 8 de sus 22 atribuciones y se espera alcanzar, al menos, a 16. Estas 8 nuevas serían&nbsp;: (i) emitir directrices para la optimización de los procesos de interoperabilidad; (ii) coordinar acciones interinstitucionales para la integración de los servicios públicos; (iii) promover el uso de TIC en las comunidades del país;(iv) supervisar las compras públicas de TIC; (v) asesorar otras instituciones en las compras de TIC; (vi) establecer políticas de protección de la información personal y gubernamental, y un sistema de organización de seguridad, proponer una política de seguridad a nivel nacional; (vii) definir las mejores tecnologías y especificar los equipos, programas y medios de conectividad, para el Ministerio de Educación y Cultura; (viii)&nbsp;Implementar un sistema de operación y mantenimiento y asistencia técnica de los equipos y conectividades contratados.</td>
        </tr>

		</tbody>
		</table>
	</div>
    </section>
    <section>
    <p>
        <a href="/" class="button icon fa-home">Volver al inicio</a>
        <a href="/propuestas" class="button icon fa-bullhorn">Ir a propuestas</a>
    </p>
    </section>

</div>
{% endblock %}
