{% extends "layout.html" %}
{% block title %} - Solicitudes{% endblock %}
{% block body %}
<div class="inner">
    <header>
        <h3>Solicitudes de información pública enviadas a MITIC</h3>
    </header>
    <section>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Asunto</th>
                        <th>Respondida</th>
                        <th>Enlace</th>
                    </tr>
                </thead>
                <tbody>
                     {% for s in solicitudes %}
                    <tr>
                        <td>{{ s._id | proposal_date }}</td>
                        <td>{{ s.subject }}</td>
                        <td>
                            {% if s.replied %}
                            Si
                            {% else %}
                            No (faltan {{s.remaining_days}}) 
                            {% endif %}
                        </td>
                        <td><a target="_blank" href="http://informacionpublica.paraguay.gov.py/portal/#!/ciudadano/solicitud/{{ s.id }}">Ver</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <p><a href="/" class="button icon fa-home">Volver al inicio</a></p>
    </section>
</div>
{% endblock %}